h1,
h2,
h3 {
	text-align: center;
}

.outer-col {
	float: left;
	width: 49%;
}

.col {
	float: left;
	width: 40%;
	padding: 2%;
	margin: 2%;
	border: 1px solid #aaa;
	border-radius: 10px;
}

.remove {
	background-color: #faa;
	border-radius: 3px;
}

.insert {
	background-color: #afa;
	border-radius: 3px;
}

.change {
	background-color: #aaf;
	border-radius: 3px;
}

.treeInput {
	width: 100%;
	height: 30em;
}

.updateWrapper {
	text-align: center;
	clear: both;
}
